.menu {
  background: none repeat scroll 0 0 #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  font-size: 13px;
}

.main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  margin-bottom: 70px;
}


.breadcrumbs {
  font-size: 12px;
  white-space: nowrap;
  padding: 0;
  color: #888;
}
.breadcrumbs a {
  color: #888;
}
.breadcrumbs li {
  display: inline;
  margin: 0 4px 0 0;
}
.breadcrumbs li:after {
  content: "»";
  margin: 0 0 0 4px;
}
.breadcrumbs li:last-child:after {
  content: "";
  margin: 0;
}

.article header,
.article .section {
  margin-left: 140px;
}

.article h2 {
  position: relative;
  font-size: 36px;
  margin: 0;
}
.article h2 .type {
  display: block;
  position: absolute;
  left: -140px;
  top: 24px;
  width: 110px;
  color: #aaa;
  padding-right: 24px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.source a {
  font-size: 10px;
  color: #aaa;
}

.section {
  position: relative;
}
.section h3 {
  display: block;
  position: absolute;
  left: -140px;
  top: 2px;
  width: 110px;
  color: #aaa;
  padding-right: 24px;
  text-align: right;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

ul.argument-types {
  display: inline;
  margin: 0;
  padding: 0;
}
.argument-types:before {
  content: '(';
  margin-right: -3px;
}
.argument-types:after {
  content: ')';
  margin-left: -3px;
}
.argument-types li {
  display: inline;
}
.argument-types li:after {
  content: "|";
  margin: 0 -2px;
}
.argument-types li:last-child:after {
  content: "";
  margin: 0;
}

pre {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 3px;
}
