body {
  font-family: Verdana,sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

.menu {
  background: none repeat scroll 0 0 #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  font-size: 13px;
}
.menu ul {
  margin-left: 10px;
}
.menu-item a, .menu-item a:link {
  background-position: 6px 50%;
  background-repeat: no-repeat;
/*  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF; */
  color: #333333;
  display: block;
  padding: 3px 10px 3px 28px;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
}
.menu-item a:hover {
  background-color: #ccc;
}
.menu-item a.class {
  background-image: url("../images/class.png");
}
.menu-item a.constructor {
  background-image: url("../images/constructor.png");
}
.menu-item a.class-method {
  background-image: url("../images/class_method.png");
}
.menu-item a.class-property {
    background-image: url("../images/class_property.png");
}
.menu-item a.instance-method {
  background-image: url("../images/instance_method.png");
}
.menu-item a.instance-property {
    background-image: url("../images/instance_property.png");
}
.menu-item a.namespace {
    background-image: url("../images/namespace.png");
}


.main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  margin-bottom: 70px;
}


.breadcrumbs {
  font-size: 12px;
  white-space: nowrap;
  padding: 0;
  color: #888;
}
.breadcrumbs a {
  color: #888;
}
.breadcrumbs li {
  display: inline;
  margin: 0 4px 0 0;
}
.breadcrumbs li:after {
  content: "»";
  margin: 0 0 0 4px;
}
.breadcrumbs li:last-child:after {
  content: "";
  margin: 0;
}

.article header,
.article .section,
.article .alias {
  margin-left: 140px;
  margin-bottom: 20px;
}
.footer {
  margin-left: 140px;
}

.article h2 {
  position: relative;
  font-size: 36px;
  margin: 0;
  line-height: 1;
}
.article h2 .type {
  display: block;
  position: absolute;
  left: -140px;
  top: 20px;
  width: 110px;
  color: #aaa;
  padding-right: 24px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.source a {
  font-size: 10px;
  color: #aaa;
}

.section {
  position: relative;
}
.section h3 {
  display: block;
  position: absolute;
  left: -145px;
  top: 1px;
  width: 110px;
  color: #888;
  padding-right: 20px;
  text-align: right;
  font-size: 12px;
  font-weight: normal;
  margin: 0;

  background-position: right 2px;
  background-repeat: no-repeat;
}

.description h3 {
  background-image: url("../images/description.png");
}
.constructor h3 {
  background-image: url("../images/constructor.png");
}
.class_methods h3 {
  background-image: url("../images/class_method.png");
}
.class_properties h3 {
  background-image: url("../images/class_property.png");
}
.instance_methods h3 {
  background-image: url("../images/instance_method.png");
}
.instance_properties h3 {
  background-image: url("../images/instance_property.png");
}



.signatures {
  background-color: #e0e8e0;
  padding: 3px 5px;
  list-style: none;
  border-radius: 3px;
}
.signature ul {
  padding: 0;
  margin: 0;
}
.signature li {
  display: inline;
}
.signature ul.argument-types {
  display: inline;
  margin: 0;
  padding: 0;
}
.signature ul.argument-types:before {
  content: '→';
  margin: 0 5px;
}

.argument-details {
  padding: 0;
  margin: 0;
  font-size: 13px;
  display: inline;
}
.argument-details li {
  display: inline;
}
.argument-name {
  color: #006600;
  font-weight: bold;
}
.argument-details .argument-types ul {
  display: inline;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  font-style: italic;
  font-size: 11px;
}
.argument-types ul:before {
  content: '(';
  margin-right: 2px;
}
.argument-types ul:after {
  content: ')';
  margin-left: 2px;
}
.argument-types li {
  display: inline;
}
.argument-types li:after {
  content: "|";
  margin: 0 2px;
}
.argument-types li:last-child:after {
  content: "";
  margin: 0;
}
.argument-description:before {
  content: '—';
  margin-left: 5px;
  margin-right: 5px;
}
.argument-description p {
  display: inline;
}
.method-list {
  padding: 0;
}
.method-list li {
  list-style: none;
  margin-bottom: 7px;
}
.method-list li a {
  border-bottom: 1px dashed #888;
  color: #003366;
  text-decoration: none;
}

pre {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 3px;
  font-size: 13px;
}

p code {
  border: 1px solid #ccc;  
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0 3px;
}

.alias {
  background-color: #FFF6DE;
  border: 1px solid #CCCC99;
  border-radius: 3px 3px 3px 3px;
  font-size: 12px;
  padding: 3px 30px;
}
.alias a,
a.link-short {
  border-bottom: 1px dashed #888888;
  color: #003366;
  text-decoration: none;
}

.footer {
  border-top: 1px solid #eee;
  color: #ccc;
  font-size: 10px;
  margin-top: 30px;
  line-height: 1;
}
.footer a {
  color: #ccc;
}
