body {
  font-family: Verdana,sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

.menu {
  background: none repeat scroll 0 0 #eee;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  font-size: 13px;
}

.main {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.article {
  margin-bottom: 70px;
}


.breadcrumbs {
  font-size: 12px;
  white-space: nowrap;
  padding: 0;
  color: #888;
}
.breadcrumbs a {
  color: #888;
}
.breadcrumbs li {
  display: inline;
  margin: 0 4px 0 0;
}
.breadcrumbs li:after {
  content: "»";
  margin: 0 0 0 4px;
}
.breadcrumbs li:last-child:after {
  content: "";
  margin: 0;
}

.article header,
.article .section {
  margin-left: 140px;
  margin-bottom: 20px;
}

.article h2 {
  position: relative;
  font-size: 36px;
  margin: 0;
}
.article h2 .type {
  display: block;
  position: absolute;
  left: -140px;
  top: 24px;
  width: 110px;
  color: #aaa;
  padding-right: 24px;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.source a {
  font-size: 10px;
  color: #aaa;
}

.section {
  position: relative;
}
.section h3 {
  display: block;
  position: absolute;
  left: -140px;
  top: 1px;
  width: 110px;
  color: #888;
  padding-right: 24px;
  text-align: right;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

.argument-details {
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.argument-details li {
  display: inline;
}
.argument-name {
  color: #006600;
  font-weight: bold;
}
.argument-types ul {
  display: inline;
  margin: 0;
  padding: 0;
  font-size: 11px;
  font-style: italic;
}
.argument-types ul:before {
  content: '(';
  margin-right: -3px;
}
.argument-types ul:after {
  content: ')';
  margin-left: -3px;
}
.argument-types li {
  display: inline;
}
.argument-types li:after {
  content: "|";
  margin: 0 -2px;
}
.argument-types li:last-child:after {
  content: "";
  margin: 0;
}
.argument-description:before {
  content: '—';
  margin-left: 5px;
  margin-right: 5px;
}

.method-list {
  padding: 0;
}
.method-list li {
  list-style: none;
  margin-bottom: 7px;
}
.method-list li a {
  border-bottom: 1px dashed #888;
  color: #003366;
  text-decoration: none;
}

pre {
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #f8f8f8;
  border-radius: 3px;
}
