body
  font-family: Verdana,sans-serif
  font-size: 14px
  line-height: 1.5em


.sidebar
  background: none repeat scroll 0 0 #f8f8f8
  position: fixed
  top: 0
  bottom: 0
  left: 0
  width: 240px
  font-size: 14px
  overflow: hidden

#search
  background-color: #eee
  padding: 7px 0
  height: 30px
  box-shadow: 0 0 5px #AAAAAA

  input
    width: 90%
    margin: auto
    margin-top: 3px
    padding 4px;
    display: block
    background-color: #f8f8f8
    border: 0px none
    border-radius: 3px
    box-shadow: 0 0 2px #666666 inset

#search-results
  z-index: 1000
  background-color: white
  display: none

.menu
  padding: 0
  margin: 0
  list-style: none
  top: 45px
  bottom: 0
  position: absolute
  overflow-x: hidden
  overflow-y: auto
  width: 240px

  a
    padding: 3px 10px 3px 28px
    background-position: 6px 50%
    background-repeat: no-repeat
  ul
    padding: 0
    list-style: none

    a
      padding-left: 38px
      background-position: 16px 50%
    ul a
      padding-left: 48px
      background-position: 26px 50%
    ul ul a
      padding-left: 58px
      background-position: 36px 50%
    ul ul ul a
      padding-left: 68px
      background-position: 46px 50%

.menu-item

  a
    &, &:link
      color: #333333
      display: block
      text-align: left
      text-decoration: none
      white-space: nowrap

    &.deprecated
      opacity 0.5

    &.current
      background-color: #ddd
    &.current-parent
      background-color: #eee

    &:hover
      background-color: #ccc

    &.section
      background-color: #000
      background: -moz-linear-gradient(#000 70%, #444) repeat scroll 0 0 transparent
      background: -webkit-linear-gradient(#000 70%, #444) repeat scroll 0 0 transparent
      background: linear-gradient(#000 70%, #444) repeat scroll 0 0 transparent
      color: #aaa;
      padding: 6px 10px 6px 28px
    &.class
      background-image: url("../images/class.png")
    &.class-method
      background-image: url("../images/class_method.png")
    &.class-property
      background-image: url("../images/class_property.png")
    &.constant
      background-image: url("../images/constant.png")
    &.constructor
      background-image: url("../images/constructor.png")
    &.event
      background-image: url("../images/event.png")
    &.instance-method
      background-image: url("../images/instance_method.png")
    &.instance-property
      background-image: url("../images/instance_property.png")
    &.method
      background-image: url("../images/method.png")
    &.mixin
      background-image: url("../images/mixin.png")
    &.namespace
      background-image: url("../images/namespace.png")
    &.property
      background-image: url("../images/property.png")
    &.utility
      background-image: url("../images/utility.png")

.main
  width: 700px
  margin-left: 250px

.article
  margin-bottom: 70px

.breadcrumbs
  font-size: 12px
  white-space: nowrap
  padding: 0
  color: #ccc

.breadcrumbs a
  color: #ccc

.breadcrumbs li
  display: inline
  margin: 0 4px 0 0

.breadcrumbs li:after
  content: "»"
  margin: 0 0 0 4px

.breadcrumbs li:last-child:after
  content: ""
  margin: 0

#home h1
  font-size: 30px

.article .readme,
.article header,
.article .section,
.article .alias,
.article .related-to,
.article .deprecated-note
  margin-left: 140px
  margin-bottom: 20px

.article .labels
  margin-left: 140px
  margin-bottom: 10px

.footer
  margin-left: 140px

.article h2
  position: relative
  font-size: 30px
  margin: 0
  line-height: 1

.article h2 .type
  display: block
  color: #888
  font-size: 14px
  font-weight: bold
  text-transform: uppercase
  margin-bottom: 0.5em
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif

.article
  h5
    font-size: 14px
    margin: 0
  h6
    font-size: 13px
    margin: 0
    color: #666;

h4
  font-size: 16px
  margin: 0

.source a
  font-size: 10px
  color: #aaa
  margin-left: 10px
  text-decoration: none

.labels span
  border-radius: 3px 3px 3px 3px
  color: #FFFFFF
  font-size: 9.75px
  font-weight: bold
  padding: 1px 3px 2px
  text-transform: uppercase
  white-space: nowrap
  margin-right: 10px
span
  &.read-only
    background-color: #888
  &.internal
    background-color: #888
  &.chainable
    background-color: #888

.deprecated-note
  color: #F00

.article.deprecated h2 .name
  text-decoration: line-through

.section
  position: relative

  h3
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    background-position: right 0px
    background-repeat: no-repeat
    display: block
    position: absolute
    left: -145px
    top: 3px
    width: 110px
    line-height: 1.2em
    padding-right: 20px
    margin: 0
    text-align: right
    font-weight: normal
    font-size: 14px;
    color: #888

  &.classes h3
    background-image: url("../images/class.png")
  &.class_methods h3
    background-image: url("../images/class_method.png")
  &.class_properties h3
    background-image: url("../images/class_property.png")
  &.constants h3
    background-image: url("../images/constant.png")
  &.constructor h3
    background-image: url("../images/constructor.png")
  &.description h3
    background-image: url("../images/description.png")
  &.events h3
    background-image: url("../images/event.png")
  &.instance_methods h3
    background-image: url("../images/instance_method.png")
  &.instance_properties h3
    background-image: url("../images/instance_property.png")
  &.mixins h3
    background-image: url("../images/mixin.png")
  &.namespaces h3
    background-image: url("../images/namespace.png")
  &.subclasses h3
    background-image: url("../images/subclass.png")
  &.superclass h3
    background-image: url("../images/superclass.png")
  &.utilities h3
    background-image: url("../images/utility.png")

  &.sections h3
    background-image: url("../images/section.png")


.method-list
  padding: 0
  overflow: hidden

  li
    list-style: none
    margin-bottom: 7px
    float: left

    &:after
      content: ","
      margin: 0 10px 0 2px
    &:last-child:after
      content: ""
      margin: 0
    a
      border-bottom: 1px solid #888
      color: #003366
      text-decoration: none

.method-details-list
  padding: 0
  margin: 0
  list-style: none;


.signatures
  background-color: #e0e8e0
  padding: 3px 5px
  margin: 0
  list-style: none
  border-radius: 3px

.signature ul
  padding: 0
  margin: 0

.signature li
  display: inline

.signature ul.argument-types
  display: inline
  margin: 0
  padding: 0

.signature ul.argument-types:before
  content: '→'
  margin: 0 5px

.argument-details
  padding: 0
  margin: 0
  font-size: 13px
  display: inline

.argument-details li
  display: inline

.argument-name
  color: #006600
  font-weight: bold

.argument-details .argument-types ul
  display: inline
  margin: 0
  margin-left: 5px
  padding: 0
  font-style: italic
  font-size: 11px

.argument-types
  ul
    &:before
      content: '('
      margin-right: 2px
    &:after
      content: ')'
      margin-left: 2px
  li
    display: inline

    &:after
      content: "|"
      margin: 0 2px
    &:last-child:after
      content: ""
      margin: 0

.argument-description:before
  content: '—'
  margin-left: 5px
  margin-right: 5px

.argument-description p
  display: inline


pre
  border: 1px solid #ccc
  padding: 5px
  background-color: #f8f8f8
  border-radius: 3px
  font-size: 13px

  overflow: auto

  code
    white-space: pre

p code,
li code
  border: 1px solid #ccc
  background-color: #f8f8f8
  border-radius: 3px
  padding: 0 3px
  font-size: 13px

.note
  background-color: #eef
  border: 1px solid #69c
  border-radius: 3px 3px 3px 3px
  font-size: 12px
  padding: 3px 30px

.related-to
  background-color: #FFF6DE
  border: 1px solid #CCCC99
  border-radius: 3px 3px 3px 3px
  font-size: 12px
  padding: 3px 30px

.alias
  background-color: #FFF6DE
  border: 1px solid #CCCC99
  border-radius: 3px 3px 3px 3px
  font-size: 12px
  padding: 3px 30px

  ul
    display: inline
    padding: 0
  li
    display: inline

    &:after
      content: ","
      margin: 0 5px 0 2px
    &:last-child:after
      content: ""
      margin: 0

.section a, .readme a
  text-decoration: none;
  color: #068
  border-bottom: 1px dashed #888888

.alias a,
.related-to a,
a.link-short,
.superclass a, .superclass a:visited,
.section h4 a, .section h4 a:visited
  border-bottom: 1px solid #888888
  color: #003366
  text-decoration: none

.footer
  border-top: 1px solid #eee
  color: #ccc
  font-size: 10px
  margin-top: 30px
  line-height: 1

  a
    color: #ccc

