@import 'variables'

// Normalization/Typography from twitter bootstrap
@import 'reset'
@import 'type'

// Our styles
@import 'layout'
@import 'menu'
@import 'docblock'
@import 'signatures'

// quick fixes for CODE blocks
code
  padding 2px 4px
  font-size 90%
  color #c7254e
  background-color #f9f2f4
  border-radius 4px

pre
  border 1px solid #ccc
  border-radius 4px
  //white-space wrap
  code
    padding 0
    font-size inherit
    color inherit
    //white-space pre-wrap
    background-color transparent
    border-radius 0

@import 'highlight'
