if obj.type === 'class'

  if obj.superclass
    .section.section-superclass
      .section-title
        h3 Superclass
      .section-content
        p= obj.superclass

  if obj.subclasses.length
    .section.section-subclasses
      .section-title
        h3 Subclasses
      .section-content
        p
          mixin links(obj.subclasses.sort())

if obj.included_mixins
    .section.section-includes
      .section-title
        h3 Includes
      .section-content
        p
          mixin links(obj.included_mixins.sort())
