if obj.deprecated
  #deprecated
    img(src='images/deprecated.png', alt='Deprecated', width=150, height=150)

ul.breadcrumbs.clearfix
  li
    a(href='#home') Home
  for crumb in breadcrumbs(obj)
    li
      | &rarr;
      mixin link(crumb, true)

h2.page-title
  span.type #{obj.type}
  | #{obj.id}

if obj.href
  p#src_code_href
    a(href=obj.href)
      = src_code_text || 'View source code'

if obj.deprecated
  if obj.deprecated.since
    h1
      | Deprecated since
      =obj.deprecated.since
      if obj.deprecated.off
        = 'and will be removed on #{obj.deprecated.off}'
