include title

.section
  .section-title
  .section-content
    .method-description
      include method_signatures
      != htmlize(obj.description)
      include relationships
      include methodized_note
