mixin argument(arg)
  li
    code.argument-name= arg.name
    if arg.types
      span.argument-types &nbsp;(
        for type, i in arg.types
          if i > 0
            | \|
          code= type
        | )
    if arg.description
      &ndash;
      != htmlize(arg.description).slice(3, -4)

mixin returns(sig)
  for r in sig.returns
    if tree[r]
      mixin link(r)
    else
      = r

pre.syntax.prettyprint
  code.ebnf
    sigs = obj.signatures || [{signature: obj.id, returns: obj.returns}]
    for sig, i in sigs
      if i > 0
        br
      != signature(obj, sig)

if obj.arguments
  ul.argument-list
    for arg in obj.arguments
      mixin argument(arg)
