if obj.methodized_self
  p.note.
    This method can be called <em>either</em> as an
    a(href=obj.methodized_self) instance method
    <em>or</em> as a generic method.
    If calling as a generic, pass the instance in as the first argument. 
else if obj.functionalized_self
  p.note.
    This method can be called <em>either</em> as an instance method <em>or</em> as a
    a(href=obj.functionalized_self) generic method.
    If calling as a generic, pass the instance in as the first argument. 
